{% extends './base.html' %}
{% load static %}

{% block content %} 
<style>
    .btn-danger{
        background-color: rgb(235, 64, 1) !important;
    }
</style>
<main class="site-main">
    <!-- START OF MAIN BANNER -->
    <section class="inner-banner back-img" style="background-image: url('/static/frontend/assets/images/inner_banner_image.jpg');">
        <div class="banner-stripes">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="banner-shape-wp wow fadeInRight for-des" data-wow-duration=".8s">
            <div class="banner-shape">
                <span class="stripe"></span>
                <span class="stripe stripe-secondary"></span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-banner-content-wp white-text text-center">
                        <div class="inner-banner-content wow fadeInUp" data-wow-duration=".8s">
                            <h2 class="h1-title">Sign In</h2>
                        </div>
                        <div class="inner-banner-breadcrumb wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s">
                            <ul>
                                <li>
                                    <a href="{% url 'frontend:home' %}" title="Home">Home</a>
                                </li>
                                <li>
                                    <span>sign In</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF MAIN BANNER -->

    <!-- register form -->
    <section id="login">
        <div class="container py-2">
            <div class="row justify-content-center align-items-center py-5">
                <div class="col-md-5 py-md-5">
                    <div class="card shadow">
                        {% if form.errors %}
                            <p class="text-white fw-bold">Please correct the following errors:</p>
                            {% for field in form %}
                                {% if field.errors %}
                                <div class="alert alert-primary" role="alert">
                                    {{ field.label }}: {{ field.errors|striptags }}
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
        
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        
                        <h2 class="card-title text-dark text-center mt-3 ms-4">Sign In</h2>
                        <hr class="mt-0">
                        <div class="card-body">
                            <form action="." method="POST">
                                {% csrf_token %}
                                {{form.as_p}}
                                
                                <input type="submit" value="Login" class="btn btn-danger fw-bold px-5 w-100 h-auto">
        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}