{% load static %}
<!-- START OF FOOTER -->
<footer class="site-footer white-text">
    <div class="top-footer">
        <div class="banner-shape">
            <span class="stripe"></span>
            <span class="stripe stripe-secondary"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-branding">
                            <a href="index.html" title="Induris">
                                <img src="{% static 'frontend/assets/images/heavy_duty_logo.png' %}" width="152" height="35" alt="Induris Logo">
                                <!-- <img src="{% static 'frontend/assets/images/logo.svg' %}" width="152" height="35" alt="Induris Logo"> -->
                            </a>
                            <p>Subscribe to our newsletter to get latest updates.</p>
                        </div>
                        <div class="mail-form">
                            <form>
                                <input type="email" placeholder="Email Address" required="">
                                <button type="submit" class="sec-btn icon-lg"></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-links">
                        <h4 class="h4-title">Our Links</h4>
                        <ul>
                            <li class="active-footer-menu">
                                <a href="index.html" title="Home">Home</a>
                            </li>
                            <li>
                                <a href="about-us.html" title="About Us">About Us</a>
                            </li>
                            <li>
                                <a href="services.html" title="Services">Products</a>
                            </li>
                            <li>
                                <a href="contact-us.html" title="Contact Us">Contact Us</a>
                            </li>
                            <li>
                                <a href="contact-us.html" title="Contact Us">Register</a>
                            </li>
                            <li>
                                <a href="contact-us.html" title="Contact Us">Sign In</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-contact">
                        <h4 class="h4-title">Contact Us</h4>
                        <ul>
                            <li>
                                <div class="contact-item">
                                    <span class="contact-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </span>
                                    <div class="contact-link">
                                        <a href="https://maps.app.goo.gl/bKFBvkc3NiFcgmpb9" title="145 45j Street Office 789 De14563, Western Australia" target="_blank">145 45j Street Office 789 De14563, Western Australia</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-item">
                                    <span class="contact-icon">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <div class="contact-link">
                                        <a href="" title="Mail to info@lawace.com"><span>contact@heavydutydynamics.com</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-item">
                                    <span class="contact-icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </span>
                                    <div class="contact-link">
                                        <a href="tel:+919879874569" title="Call to +91 987 9874 569">+91 987 9874
                                            569</a>
                                        <!-- <a href="tel:+912359874512" title="Call to +91 235 9874 512">+91 235 9874
                                            512</a> -->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4 class="h4-title">Gallery</h4>
                    <div class="footer-gallery">
                        <ul>
                            <li>
                                <a href="{% static 'frontend/assets/images/footer-gallery-1-min.jpg' %}" class="popup-image" title="Gallery Image">
                                    <div class="back-img" style="background-image: url('/static/frontend/assets/images/footer-gallery-1-min.jpg');">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% static 'frontend/assets/images/footer-gallery-2-min.jpg' %}" class="popup-image" title="Gallery Image">
                                    <div class="back-img" style="background-image: url('/static/frontend/assets/images/footer-gallery-2-min.jpg');">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% static 'frontend/assets/images/footer-gallery-3-min.jpg' %}" class="popup-image" title="Gallery Image">
                                    <div class="back-img" style="background-image: url('/static/frontend/assets/images/footer-gallery-3-min.jpg');">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% static 'frontend/assets/images/footer-gallery-4-min.jpg' %}" class="popup-image" title="Gallery Image">
                                    <div class="back-img" style="background-image: url('/static/frontend/assets/images/footer-gallery-4-min.jpg');">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% static 'frontend/assets/images/footer-gallery-5-min.jpg' %}" class="popup-image" title="Gallery Image">
                                    <div class="back-img" style="background-image: url('/static/frontend/assets/images/footer-gallery-5-min.jpg');">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% static 'frontend/assets/images/footer-gallery-6-min.jpg' %}" class="popup-image" title="Gallery Image">
                                    <div class="back-img" style="background-image: url('/static/frontend/assets/images/footer-gallery-6-min.jpg');">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="bottom-footer-content">
                <p class="bottom-footer-text m-0">
                    Copyright © <span id="copy-right-year">2025</span>
                    <a href="/" title="Geekcodelab" target="_blank">Heavy Duty Dynamics.</a>
                    All rights reserved.
                </p>
                <ul>
                    <li>
                        <a href="javascript:void(0)" title="Privacy Policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Terms Of Service">Terms Of Service</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- END OF FOOTER -->